<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>works</title>
</head>
<body>
<div class="works">
    <h1>Works</h1>
   <p>Jordan played 13 seasons with the Bulls with a year and a half hiatus to play baseball in the Chicago White Sox minor league system.<br>
    He finished his playing career with two seasons with the Washington Wizards and went on to become the owner of the Charlotte Hornets.</p> 
</div>
</body>
</html>